.setting {
  max-width: 400px; /* 핸드폰 크기로 고정 */
  margin: 0 auto;
  height: 100vh; /* 전체 화면 높이 */
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.setting-form-group {
    width: auto;
    height: auto;
}

/* 유저 프로필 구간 */
.profile-group {
    background-color: white;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

.profile-group .user-info-group {
    display: flex;
    justify-content: space-between;
    padding: 25px 12px 10px 12px;
}

.profile-group .user-info-group .user-info {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.user-info-name {
    font-family: "Happy";
    font-size: 24px;
    display: flex;
    justify-content: start;
}

.user-info-detail {
    font-family: "Happy";
    font-size: 18px;
    color: #909090;
}

.profile-image {
  width: 90px;
  height: 90px;
  margin-right: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.avatar {
  width: 90px; /* 원하는 크기로 조정 */
  height: 90px;
  border-radius: 50%; /* 원 모양으로 잘라줌 */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc; /* 초기 배경색 (선택적으로 사용) */
}

.initial {
  font-size: 28px; /* 원하는 크기로 조정 */
  color: white; /* 텍스트 색상 */
}

.break-line {
  margin: 10px;
}

hr {
  background-color: #EEEEEE;
}

.edit-info-btn {
  background: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Happy";
  font-size: 18px;
  color: #909090;
}

a {
  text-decoration: none; /* 링크 밑줄 제거 */
  color: black; /* 기본 링크 색상을 검은색으로 설정 */
}

/* 설정 구간 */

.section-title {
    display: flex;
    justify-content: start;
    margin: 15px 0 0 5px;
    font-family: "Happy";
    font-size: 18px;
    color: #909090;
}

.collection-item,
.setting-item,
.policy-item {
    background-color: white;
    padding: 17px;
    margin: 8px 0;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
    font-family: "Happy";
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

/* 기본 토글 버튼 스타일 */
.toggle-button {
    display: inline-block;
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* 토글 스위치 */
.toggle-button::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}
  
/* 활성화된 상태 */
.toggle-button.active {
  background-color: #ff6600;
}

/* 활성화된 상태의 토글 스위치 */
.toggle-button.active::after {
  transform: translateX(25px);
}

/*모달창 */  
.modal-container {
  padding: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0px;
}
  
.modal-content {
  background-color: #ffffff;
  width: 250px;
  height: 160px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
}

.modal-container .modal-message {
  font-family: "Happy";
  font-size: 22px;
}

.modal-btns {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
  
.modal-container .agree-modal-btn,
.modal-container .disagree-modal-btn {
  width: 40%;
  font-family: "Happy";
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  margin: 0px 5px;
  padding: 12px 15px;
  justify-content: center;
}

.modal-container .agree-modal-btn {
  background-color: #ff6600;
  color: #fff;
  border: none;
}

.modal-container .disagree-modal-btn {
  background-color: #ffffff;
  color: #ff6600;
  border: 1px solid;
}