body {
  margin: 0;
  font-family: "Happy";
  background-color: #f7f7f7;
}

.signup-container-4 {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 20px;
  box-sizing: border-box;
}

.signup-header-4 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px 0;
  background-color: #f8f9fa;
}

.close-btn-4 {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-title-4 {
  margin: 10px 0;
  font-family: "Happy Bold";
  font-size: 24px;
  text-align: center;
}

.signup-form-group-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-group-4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-complete-icon-4 {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.signup-complete-message-4 {
  font-family: "Happy";
  font-size: 30px;
  text-align: center;
}

.welcome-message-4 {
  font-family: "Happy";
  font-size: 25px;
  text-align: center;
  margin-top: 10px;
}

.signup-footer-4 {
  display: flex;
  justify-content: center;
  padding: 20px 10px;
}

.next-btn-4 {
  width: 100%;
  margin: 10px 0;
  padding: 15px 0;
  font-family: "Happy";
  font-weight: bold;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  border: none;
  background-color: #ff6600;
  color: #fff;
}

.next-btn-4:hover {
  background-color: #cc5200;
}

@media (max-width: 400px) {
  .signup-container-4 {
    padding: 0 10px;
  }

  .signup-title-4 {
    font-size: 20px;
  }

  .signup-complete-message-4 {
    font-size: 24px;
  }

  .welcome-message-4 {
    font-size: 16px;
  }

  .next-btn-4 {
    font-size: 16px;
    padding: 10px;
  }
}
